/* a minimalist set of CSS resets */

/* custom font*/
@font-face {
  font-family: "SegaArcadeFont"; /* This is an arbitrary name -- whatever works for you */
  src: url("https://cdn.glitch.me/56855dbd-c685-47e7-8866-0983db1c6655%2FSEGA_Skip-B.ttf?v=1636581965873");
}

@font-face {
  font-family: "Unown"; /* This is an arbitrary name -- whatever works for you */
  src: url("https://cdn.glitch.me/56855dbd-c685-47e7-8866-0983db1c6655%2FUnown-OVEwA.ttf?v=1636649946310");
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: "SegaArcadeFont", "Unown", "Sans Serif";
  line-height: 1.5;
  background-color: white;
  color: black;
  font-size: initial;
}

body.dark-theme {
  background-color: black;
  color: white;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* The side navigation menu */
.sidemenu {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidemenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidemenu a.active {
  background-color: #04AA6D;
  color: white;
}

.sidemenu a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 400px) {
  .sidemenu a {
    text-align: center;
    float: none;
  }
}

/* Position and style the close button (top right corner) */
.sidemenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
