/* a minimalist set of CSS resets */

/* custom font*/
@font-face {
  font-family: "SegaArcadeFont"; /* This is an arbitrary name -- whatever works for you */
  src: url("https://cdn.glitch.me/56855dbd-c685-47e7-8866-0983db1c6655%2FSEGA_Skip-B.ttf?v=1636581965873");
}

@font-face {
  font-family: "Unown"; /* This is an arbitrary name -- whatever works for you */
  src: url("https://cdn.glitch.me/56855dbd-c685-47e7-8866-0983db1c6655%2FUnown-OVEwA.ttf?v=1636649946310");
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: "SegaArcadeFont", "Unown", "Sans Serif";
  line-height: 1.5;
  background-color: white;
  color: black;
  font-size: initial;
}

body.dark-theme {
  background-color: #230f42;
  color: white;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* Add a grey background color to the top navigation */
.topnav {
  background-color: #262626;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dddddd;
  color: #1a729e;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #1a729e;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    display: block;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
}

input[type="checkbox"] {
  display: none;
}

.switch-btn {
  width: 100px;
  height: 30px;
  background-color: #c5ccd3;
  border: 4px solid #bec5cc;
  border-radius: 30px;
  padding: 6px;
  margin: auto;
}

label {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f9;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  transform: translate(-11px, 19px) rotate(120deg);
  user-select: none;
  color: #17193f;
}

input[type="checkbox"]:checked ~ .switch-btn {
  border: 4px solid #2e3052;
  background-color: #7635dc;
}

input[type="checkbox"]:checked ~ .switch-btn label {
  transform: translateX(calc(100px - 30px));
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked ~ .switch-btn label .icons {
  transform: translateX(-20px);
}
